<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<link rel="stylesheet" href="css/registration.css" />
</head>
<body>
<div class="bg-image">
        <img src="images/cyber2.jpg" class = "image">
    </div>
    <div class="login">



       
            

<div class="form">
<h1>Register Here!!</h1>
<form name="registration" action="/signup" method="post">
<input type="text" name="username" placeholder="username" required />

<input type="password" name="password" placeholder="Password" required />
<input type="submit" name="submit" value="Click me to Register" />
</form>
</div>

</body>
</html>